src/Evalfor/GescompevalBundle/Resources/views/API/showCompetenceType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns="showCompetenceType"
targetNamespace="showCompetenceType">    
	<xs:element name="competencetype">
	    <xs:annotation>
	      <xs:documentation xml:lang="en-EN">One competencetype</xs:documentation>
	    </xs:annotation>
	    <xs:complexType>
	      <xs:sequence>
	        <xs:element name="id" minOccurs="0" maxOccurs="1" />
	        <xs:element name="type" minOccurs="0" maxOccurs="1" />
	        <xs:element name="description" minOccurs="0" maxOccurs="1" />
	      </xs:sequence>
	    </xs:complexType>
	</xs:element>        
</xs:schema>